/*
* -------------------------------- FONTS --------------------------------
*/

@font-face {
    font-family: Confortaa;
    src: url(http://localhost/php-mysql-mvc-daily/public/assets/fonts/comfortaa/Comfortaa-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: oswald;
    src: url(http://localhost/php-mysql-mvc-daily/public/assets/fonts/oswald/Oswald-Regular.ttf);
}

.title-page {
    background: rgb(96, 251, 253);
    color: rgb(40, 28, 50);
}

.index-page h1 {
    background: rgb(225,97,132);
    color: white;
}

h1 {

    font-family: Confortaa;
    font-size: 32pt;
    text-align: center;
}

h5, h6 {
    font-family: Confortaa;
    color: white;
}

p {
    font-family: oswald;
    color: white;
}

.index-page {
    background: rgb(225,97,132);!important
}

.element-listed {
    -webkit-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
    background: rgb(225,97,132);
}

.oscar-award img {
    width: 40px;
    height: 40px;
}

.item-body-description {
    background: rgb(40, 28, 50);
}